@import "/Users/Tuff Gaming/Documents/Programming Files/Nex.Tech/Nex.Tech/src/styles/variables.scss";

.mainBody {
    width: 100%;
    height: 80vh;
    padding: 5vh 18vw 5vh 18vw;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.formContainer {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0.6rem;
    padding: 4vh 4vw 4vh 4vw;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.formContents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.fieldContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.formTitle {
    text-decoration: underline;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0vh 1.5vw 0vh 1.5vw;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.itemContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border: solid;
    border-width: 0.7px;
    border-color: $neutral2;
    border-radius: 0.3rem;
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imageContainer {
    width: 35%;
    height: 40%;
    background-color: $neutral3;

}

.itemDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}


.info>h4 {
    font-weight: normal;
}

.info>h4.infoTitle {
    font-weight: bold;
}

.buttonContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.submitBtn {
    border-radius: 1rem;
    border: none;
    background-color: $redMain;
    color: #FFFFFF;
    padding: 0.7vh 0vw 0.7vh 0vw;
    font-weight: bold;
}

.backBtn {
    border-radius: 1rem;
    border: none;
    background-color: $neutral2;
    color: #FFFFFF;
    padding: 0.7vh 0vw 0.7vh 0vw;
    font-weight: 500;
}

.downloadBtn {
    border-radius: 1rem;
    border: none;
    background-color: $redMain;
    color: #FFFFFF;
    padding: 0.7vh 0vw 0.7vh 0vw;
    font-weight: 500;
}

.receiptContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1vw 2vh 1vw;
    gap: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.receiptContainer>h2 {
    text-decoration: underline;
}

.infoContainer {
    height: 70%;
    width: 90%;
    background-color: $neutral1;
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw 1vh 1vw;
    gap: 1rem;
}

.receiptInfo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrContainer {
    width: 60%;
    height: 60%;
    background-color: $neutral3;
}

.receiptLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receiptLabel > h4 {
    font-weight: normal;
}

.receiptLabel > h4:first-of-type {
    font-weight: bold;
}

.requestDetails {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.reqInfo {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}


.reqInfo > h4 {
    font-weight: normal;
}

.reqInfo > h4:first-of-type {
    font-weight: bold;
}


.reminder {
    color: $neutral4;
}

.receiptBtnContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}