@import "src/styles/variables.scss";

.mainBody {
  width: 100%;
  height: 85dvh;
  font-family: "Plus Jakarta Sans", sans-serif;

  label {
    width: 100px;
    font-size: 0.8em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
}

.formContainer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.6rem;
  padding: 4vh 4vw 4vh 4vw;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.formContents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.fieldContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.formTitle {
  text-decoration: underline;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0vh 1.5vw 0vh 1.5vw;
}

.input {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  align-items: center;
}

.inputField {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  align-items: center;
}

.itemContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  border: solid;
  border-width: 0.7px;
  border-color: $neutral2;
  border-radius: 0.3rem;
  padding: 2vh 2vw 2vh 2vw;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  width: 35%;
  height: 40%;
  background-color: $neutral3;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.info > h4 {
  font-weight: normal;
}

.info > h4.infoTitle {
  font-weight: bold;
}

.buttonContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitBtn {
  width: 100%;
  border-radius: 100rem;
  border: none;
  background-color: $redMain;
  color: #ffffff;
  padding: 0.7vh 0vw 0.7vh 0vw;
  font-weight: bold;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.cancelBtn {
  width: 100%;
  border-radius: 100rem;
  border: none;
  background-color: $neutral2;
  color: #ffffff;
  padding: 0.7vh 0vw 0.7vh 0vw;
  font-weight: 500;
  height: 100%;
}

.confirmBtn {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  border: none;
  background-color: $redMain;
  color: #ffffff;
  padding: 0.7vh 0vw 0.7vh 0vw;
  font-weight: 500;
}

.backBtn {
  width: 100%;
  border-radius: 100rem;
  border: none;
  background-color: $neutral2;
  color: #ffffff;
  padding: 0.7vh 0vw 0.7vh 0vw;
  font-weight: bold;
  height: 100%;
}

.downloadBtn {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  border: none;
  background-color: $redMain;
  color: #ffffff;
  padding: 0.7vh 0vw 0.7vh 0vw;
  font-weight: 500;
}

.receiptContainer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 1vw 2vh 1vw;
  gap: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.receiptContainer > h2 {
  text-decoration: underline;
}

.infoContainer {
  height: 70%;
  width: 90%;
  background-color: $neutral1;
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw 1vh 1vw;
  gap: 1rem;
}

.receiptInfo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.receiptLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receiptLabel > h4 {
  font-weight: normal;
}

.receiptLabel > h4:first-of-type {
  font-weight: bold;
}

.requestDetails {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.reqInfo {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.reqInfo > h4 {
  font-weight: normal;
}

.reqInfo > h4:first-of-type {
  font-weight: bold;
}

.reminder {
  color: $neutral4;
}

.receiptBtnContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 745px) {
  .mainBody {
    padding: 0;
    overflow-x: hidden;
    height: auto;
  }

  .formContents {
    height: auto;
    flex-direction: column;

    .fieldContainer {
      width: 100%;
      min-width: 350px;

      h2 {
        font-size: 1.2rem;
      }
    }
  }

  .formContainer {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    .formFields {
      width: 80%;
      min-width: 200px;

      label {
        font-size: 0.8rem;
      }
    }
  }

  .input {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-bottom: 1em;
  }

  .formTitle {
    min-width: 100px;
  }

  .imageContainer {
    width: 100%;
    min-width: 250px;
    height: 40%;
  }

  .img_holder {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 110px;
    height: 140px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
  }

  .img_container {
    padding: 50;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgb(239, 239, 239);
    width: 120px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 110px;
    height: 140px;
    justify-content: center;
    align-items: center;
  }

  .itemContainer {
    width: 100%;
  }
  .receiptContainer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infoContainer {
    flex-direction: column;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .requestDetails {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1105px) {
  .mainBody {
    padding-top: 25px;
    height: 100%;

    .fieldContainer {
      width: 100%;
      min-width: 350px;

      h2 {
        font-size: 1.2rem;
      }
    }

    .formContainer {
      height: 100%;
    }
  }

  .formFields {
    width: 100%;
    min-width: 200px;

    label {
      font-size: 0.8rem;
    }
  }
}
