@import "../../styles/variables.scss";

.sidebar {
  width: 25rem;
  height: 100vh;
  background-color: $redMain;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font;
  color: $background;
}

.heading {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
  font-size: 1.3em;
  padding-bottom: 2em;
}

.icons {
  color: $neutral1;
  padding-right: 10px;
}

.items {
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 230px;
  height: 40px;
  margin-bottom: 1.2em;
  margin-left: 2em;
  padding: 0.2em;
  border-radius: 14px;
}
.items:hover {
  background-color: $redActive;
  transition: all 0.3s linear;

  padding-left: 15px;
  box-shadow: 4px 4px 11px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 11px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 11px -4px rgba(0, 0, 0, 0.35);
}

.link {
  display: flex;
  align-items: center;
}

.line {
  width: 15em;
  height: 0.1em;

  background-color: $redActive;
  border: 0;
}

.profile {
  display: flex;
  flex-direction: flex;
  justify-items: left;
  gap: 9px;
  padding-top: 20px;
}

.information {
  font-size: 0.75em;
}

.information2 {
  font-size: 0.7em;
  color: $neutral3;
}
