.label {
  pointer-events: none;
  font-weight: 400;
  font-size: var(--mantine-font-size-sm);
  transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: gray;
}

.qr_reader {
  position: relative;
  width: 30%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  height: 120px;
  gap: 1em;

  .input_button {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}
