.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
  overflow-y: auto;
  .page_btn {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    position: sticky;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
  }

  .navigator {
    cursor: pointer;
  }
}
