.center {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  transition: all 0.3s linear;

  transition: all 0.3s linear;
  padding: 1em;
  position: sticky;
  top: 0; // Adjust this value as needed
  z-index: 10;

  .left_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;

    .date_selector {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 1em;
      background-color: white;
      min-height: 20%;
      padding: 1em 0.5em 1em 2.3em;
      border-radius: 15px;
    }
  }
  .summary {
    overflow-y: auto;
    max-height: 70%;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
